.footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    position: relative;
    --delay: 1s;

    &::before {
        position: absolute;
        left: -10vw;
        top: 0;
        content: '';
        height: 1px;
        width: 100vw;
        transform: scaleX(0);
        background-color: color('line');
        @include animate-hz-line;
        animation-delay: var(--delay);

        // @media only screen and (max-width:940px) {
        //     opacity: 0 !important;
        // }
    }

    @media only screen and (max-width:700px) {
        padding: 40px;
    }

    box-sizing: border-box;
    font-size: 0.8rem;

    p {
        @include content;
        height: 100px;
        width: max-content;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        // background-color: green;

        // span {
        //     position: absolute;
        //     width: 100px;
        //     height: 2rem;
        //     background-color: red;

        //     &:last-child {
        //         top: 100%;
        //     }
        // }
    }

    a {
        @include link
    }
}