.work-card {
    cursor: pointer;
    transition: padding 0.3s, opacity 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 0 40px;
    box-sizing: border-box;

    &:hover {
        // cursor: none;
    }

    .thumb {
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -1;
        top: 50%;
        object-fit: cover;
        left: 50%;
    }

    @media only screen and (max-width:700px) {
        width: 90vw;
    }

    &:hover {
        // opacity: 1;
    }


    h2 {
        display: flex;
        align-items: center;
        position: relative;
        align-content: center;
        transition: opacity 0.5s;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        pointer-events: none;
        box-sizing: border-box;
        opacity: 0.5;
        text-align: center;


        .name {
            font-family: font('alt');
            font-size: 3rem;
            align-self: center;
            pointer-events: none;
        }

        .type {
            @include content;
            font-size: 0.6rem;
            align-self: center;
            pointer-events: none
        }
    }

    @include content;
}