@keyframes hz-line-appear {
    0% {
        transform: scaleX(0);

    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes hz-line-inner-appear {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes vt-line-appear {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);

    }
}

@keyframes fade-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-disappear {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }

    100% {
        display: none;
    }
}